*,
*::after,
*::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-image: url(./bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header>p
{
  font-family: 'Lily Script One', cursive;
  font-size: 40px;
  color: bisque;
  text-align: center;
  margin: 10px;
}

header>p:hover
{
  transform: scale(1.025);
  transition: 0.5s;
}

#box
{
  background-color: rgba(0, 0, 0, 0.685);
  color: bisque;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  width: 1200px;
  height: 500px;
}

#form
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 45px;
  width: 1100px;
  
}

#data
{
  font-family: 'Josefin Sans', sans-serif;
  border-color: bisque;
  font-size: 20px;
  font-weight: bold;
}

#buscar
{
  background-color: bisque;
  border-radius: 10px;
  border-color: bisque;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  
}

#buscar:hover
{
  transform: scale(0.9);
  transition: 0.6s;
}